:root {
  --primary: #2F80ED;
  --primary-transparent: rgba(47, 129, 237, 0.3);
  --primary-transparent-full: rgba(47, 129, 237, 0.1);
  --background-gradient: #512ff8;
  --white: #fff;
  --green-light: #90ee90;
  --green: #008000;
  --amber: #ffd640;
  --amber-light: #fbeec2;
  --amber-dark: #f5c105;

  --hover: rgba(238, 194, 251, 0.1);
  --red-transparent: rgba(244, 67, 54, 0.1);
  --disabled: rgba(0, 0, 0, 0.26);
}
