<div class="item-container">
  <button class="back-button" title="back" routerLink="/youtube/search">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>
  <div class="video-container" @animationTriggerName *ngIf="selectedItem" [appBoxShadowColorizing]="selectedItem.snippet.publishedAt">
    <div class="item-thumbnail"
      [ngStyle]="{'background-image': 'url(' + selectedItem.snippet.thumbnails.high.url + ')'}">
    </div>
    <div class="item-description-container">
      <div class="title">
        <h2>{{selectedItem.snippet.title}} </h2>
        <p>{{selectedItem.snippet.publishedAt | date:'fullDate'}}</p>        
      </div>
      <div class="description">
        <h4>Description:</h4>
        <p>{{selectedItem.snippet.description}}</p>
      </div>
      <div class="item-statistic-container">
        <div *ngIf="selectedItem.statistics" class="item-statistic views">{{selectedItem.statistics.viewCount || 0}}</div>
          <div *ngIf="selectedItem.statistics" class="item-statistic likes">{{selectedItem.statistics.likeCount || 0}}</div>
          <div *ngIf="selectedItem.statistics" class="item-statistic dislikes">{{selectedItem.statistics.dislikeCount || 0}}</div>
          <div *ngIf="selectedItem.statistics" class="item-statistic comments">{{selectedItem.statistics.commentCount || 0}}</div>
      </div>
      <div class="item-bottom-line" [appColorOnDate]="selectedItem.snippet.publishedAt"></div>
    </div>
  </div>
</div>
