.search-result-container {
  width: 100%;
  height: 100%;
  max-width: 1440px;
  // max-height: 1100px;
  // overflow:scroll;
}

.items {
  width: 100%;
  max-width: 1200px;
  margin: 30px auto;
  list-style-type: none;
  padding: 0;
display:grid;
grid-template-columns: repeat(4, 1fr);
grid-gap: 30px
}

.items li {
  width: 264px;
  height: 327px;
  display: flex;
  min-height: 30vh;
  border-radius: 4px;
  flex-direction: column;
  flex-flow:column;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.25);
}

.list-item-thumbnail {
  width: 223px;
  height: 123px;
  margin: 20px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.items button {
  align-self: flex-end;
  justify-self: flex-end;
  align-self: end;
  width: 120px;
  height: 32px;
  cursor: pointer;
  position: relative;
  background-color: #2F80ED;
  margin: 10px auto;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.items button:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
  left: .1em;
}

.items button:active {
  background-color: #525252;
  color: #fafafa;
}

.items button.selected {
  background-color: rgb(7, 30, 243);
  color: white;
  border: blue solid 5px;
}

.items button.selected:hover {
  background-color: #505050;
  color: white;
}

.items button.selected:active {
  background-color: black;
  color: white;
}

.items .badge {
  display: inline-block;
  width: 100%;
  font-size: medium;
  color: white;
  background-color: #405061;
  line-height: 1em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

.items .name {
  align-self: center;
}
