<div class="header-search-container">
  <div class="app-logo"></div>
  <input [(ngModel)]="name" placeholder="What are you want to find out?" class="header-search-input" style="border: transparent">  
  <button class="search-button"type="button" (click)="searchSubmit()">search
    <mat-icon>youtube_searched_for</mat-icon>   
  </button>
  <button class="search-dropdown-settings" type="button" (click)="toggleSettings()"></button>
  <button class="search-button" routerLink="/youtube/admin-page" routerLinkActive="active">Create new card</button>
</div>
