<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center top">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Log in</mat-card-title>
    </mat-card-header>
    <form class="example-form" [formGroup]="authorizeForm">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input type="name" matInput formControlName="nameFormControl" [errorStateMatcher]="matcher"
            placeholder="First Name"  name="userName">
          <mat-error *ngIf="authorizeForm.controls['nameFormControl'].hasError('required')">
            Name is <strong>required</strong>
          </mat-error>
          <mat-error
            *ngIf="authorizeForm.controls['nameFormControl'].errors?.['minlength'] && !authorizeForm.hasError('required')">
            Please enter a valid Name <strong>min length 4 required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput formControlName="passwordFormControl" placeholder="Password" name="userPassword" >
          <mat-error
            *ngIf="authorizeForm.controls['passwordFormControl'].errors?.['minlength'] && !authorizeForm.hasError('required')">
            Please enter a valid Password <strong>min length 8 required</strong>
          </mat-error>
          <mat-error *ngIf="authorizeForm.controls['passwordFormControl'].hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </mat-card-content>
      <div class="buttons-container">
      <button  class="btn-block" (click)="getUserSettings()">Log in</button>
      <a class="btn-block" routerLink="register" routerLinkActive="active"(click)="getUserSettings()">Registration</a> 
      </div>    
    </form>        
  </mat-card>
</div>
