<header>
<div class="header-container">
  <app-header-search  (toggle)="toggleDropSettings($event)" (searchResponse)="getSearchResponse($event)"></app-header-search>
  <app-header-login></app-header-login>
</div>
</header>
<app-dropdown-settings [toggleSettings] = "toggleSettings" (changeSortSettings)="changeSortSettings($event)"></app-dropdown-settings>
<app-search [searchResponse]="sortedSearchResult" ></app-search>

<!-- <mat-toolbar color="primary" class="app-header">
  <span class="nav-tool-items">
    <a mat-button routerLink="login" routerLinkActive="active">Log in</a>
    <a mat-button mat-raised-button routerLink="register" routerLinkActive="active">Register</a>
  </span>
</mat-toolbar> -->