.dropdown-settings-container
{
  position: relative;
  width: 90%;
  height: 0px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.8s;
  background-color: #E5E5E5;
  overflow-y: hidden;
  opacity: 0;
}

.dropdown-settings-container.active {
  min-height: 50px;
  height: auto;
  overflow-y: initial;
  opacity: 1;
}

.search-settings-container-pushing {
  position: relative;
  height: 80px;
  z-index: 0;
  transition: all 0.8s;
}

.search-settings-container-pushing.active {
 margin-bottom: 49px;
}
.search-settings-container {
  min-width: 300px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: #929292;
  font-family: Roboto;
}

.search-settings-container button {
  background: none;
  color: #2F80ED;
  text-transform: lowercase;
  box-shadow: none;
}

.search-settings-container button.selected {
  text-decoration: underline;
}

.search-settings-container input {
  color: #929292;
}

.search-settings-container input:focus {
  outline: none !important;
  outline-style: none !important;
  box-shadow: none !important;
  border-color: transparent !important;
  color: #333333;
}
.sort-input-container {
  position: relative;
  margin: 5px;
  .mat-icon-button,
  .mat-icon {
    line-height: 19px;
    border-radius: 0px;
  }
.clear-button{
  position: absolute;
  height: 18px;
  width: 18px;
  right: 2px;
  .span {
  line-height: 18px;
  top: -10px;
      vertical-align: top;
}
}

}
